@import url("form/form.css");
@import url("form/inputlabel.css");
@import url("mainContainer.css");
@import url("font.css");

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

hr
{
    width: 100%;
    color: #0006;
}

.form__div--resultado
{
    color: #0003;
}