/* article__div--sinal-de-operacao" class="article__div--calculadora article__div--inputs div__input--valor02 */

.article__div--inputs
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.article__div--calculadora
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.article__div--calculadora-inputs
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#div__input--sinal-de-operacao
{
    width: 2rem;
}

label
{
    font-size: 1rem;
    text-align: center;
}

div input
{
    width: 6rem;
}

#article__div--valor01, #article__div--valor02
{
    display: flex;
    flex-direction: column;
}
#article__div--valor01
{
    align-items: flex-end;
}

#article__div--valor02
{
    align-items: flex-start;
}

#article__div--valor02 input
{
    margin-left: 4px;
}

#article__div--valor01 input
{
    margin-right: 4px;
}