.form__div--inputs
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    gap: 1rem;
    
    font-size: 1rem;
    padding: 0.5rem 0.3rem;
}

.div--inputs
{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    justify-content: space-between;
}

input
{
    width: 100%;
    padding: 0 0.3rem;
}

label
{
    width: 40%;
    text-align: end;
}

#form__div--resultado
{
    flex-direction: column;
}

#div__input--actual-exercise
{
    width: 4rem;
}